* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
  }
  
  
  


  .img-social {
    height: 20px;
    width: 20px;
  }
  .img-logo {
    width: 140px;
  
  }
  .header-font a{
    font-family: Roboto;
    font-weight: 100;
  }
  
  .side-bar-big {
    display: none;
  }
  
  .nav-menu-icon {
    display: none;
  }
  
  .layout-logo {
    position: absolute;
    top: 15px;
    left: 20px;
  }
  
  .nav-large-not-home {
    display: flex;
      justify-content: flex-end;
      width: 100%;
      right: 0;
      padding: 15px 20px;
      position: absolute;
  
  }

  .disabled {
    cursor: not-allowed;
  }
  
  .nav-large-not-home  a{
    color: white;
    font-weight: 400;
    font-family: Roboto;
    text-decoration: none;
    padding-right: 20px;
  }
  
  .nav-large-menu {
    display: block;
    position: absolute;
    right: 0;
    padding: 20px 20px;
  }
  
  .nav-large-menu a {
    color: white;
    font-weight: 100;
    font-family: Roboto;
    text-decoration: none;
    padding-right: 20px;
  }
  
  @media screen and (max-width: 740px) {
    
    .side-bar {
      height: 100%;
      width: 200px;
      background-color: white;
      left: 0;
      display: block;
      z-index: 11;
      position: fixed !important;
      border-top: 1px solid rgb(248, 248, 248);
    }
  
    .button-border {
      border-bottom: 1px solid  rgb(238, 238, 238);
    }
    
    .sidebar-item {
      width: 100%;
      padding: 8px 16px;
      display: inline-block;
    }
    
    .sidebar-button {
      text-decoration: none;
      color: rgb(128, 128, 128);
     
      font-size: 13px;
    }
    
    .sidebar-button:hover {
      color: rgb(14, 165, 160);
    }
    
    .nav-small-menu {
    display: none;
    position: absolute;
    }
    .nav-small-menu div a {
      color: white;
    }
    
    .nav-small-menu i {
    font-size: 20px;
    }
  
    .nav-align-right i{
      float: right;
    }
  
    .nav-small-menu-icon {
      display: block;
      position: absolute;
      right: 0px;
      padding: 20px 20px;
      color: white;
    }
    .nav-small-menu-icon i {
    }
  }
  
  

  
  .container-wrapper {
    min-height: calc(100vh);
    width: auto;
    display: flex;
  }
  
  /*Rows*/
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /*Modile col*/
  [class*="col-"] {
    width: 100%
  }
  
  /*Desktop col*/
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  
  /*Desktop size*/
  @media only screen and (min-width: 768px) {
    .col-d-1 {
      width: 8.33%
    }
  
    .col-d-2 {
      width: 16.66%
    }
  
    .col-d-3 {
      width: 25%
    }
  
    .col-d-4 {
      width: 33.33%
    }
  
    .col-d-5 {
      width: 41.66%
    }
  
    .col-d-6 {
      width: 50%
    }
  
    .col-d-7 {
      width: 58.33%
    }
  
    .col-d-8 {
      width: 66.66%
    }
  
    .col-d-9 {
      width: 75%
    }
  
    .col-d-10 {
      width: 83.33%
    }
  
    .col-d-11 {
      width: 91.66%
    }
  
    .col-d-12 {
      width: 100%
    }
  }
  
  /*Tablet size*/
  @media only screen and (min-width: 600px) {
    .col-t-1 {
      width: 8.33%
    }
  
    .col-t-2 {
      width: 16.66%
    }
  
    .col-t-3 {
      width: 25%
    }
  
    .col-t-4 {
      width: 33.33%
    }
  
    .col-t-5 {
      width: 41.66%
    }
  
    .col-t-6 {
      width: 50%
    }
  
    .col-t-7 {
      width: 58.33%
    }
  
    .col-t-8 {
      width: 66.66%
    }
  
    .col-t-9 {
      width: 75%
    }
  
    .col-t-10 {
      width: 83.33%
    }
  
    .col-t-11 {
      width: 91.66%
    }
  
    .col-t-12 {
      width: 100%
    }
  }
  
  /*Custom mobile size*/
  @media only screen and (max-width: 420px) {
    .col-m-1 {
      width: 8.33%
    }
  
    .col-m-2 {
      width: 16.66%
    }
  
    .col-m-3 {
      width: 25%
    }
  
    .col-m-4 {
      width: 33.33%
    }
  
    .col-m-5 {
      width: 41.66%
    }
  
    .col-m-6 {
      width: 50%
    }
  
    .col-m-7 {
      width: 58.33%
    }
  
    .col-m-8 {
      width: 66.66%
    }
  
    .col-m-9 {
      width: 75%
    }
  
    .col-m-10 {
      width: 83.33%
    }
  
    .col-m-11 {
      width: 91.66%
    }
  
    .col-m-12 {
      width: 100%
    }
  }
  
  .basic-card {
    background-color: white;
    width: 100%;
    text-align: center;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }
  
  .basic-card:hover {
    background-color:#E4E4E4;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }
  
  .basic-card-container {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid rgb(238, 238, 238);
  }
  
  .card-name > div{
    text-align: left
  }
  
  .color-blue {
    color: #024c9a
  }
  
  .font-bold {
    font-weight: bold;
  }
  
  .client-description {
    text-align: left;
    padding-bottom: 40px;
  }
  